body {
    background: none repeat scroll 0% 0% #fefefe;
}
.alert-main {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bfeae0), to(#bfeae0));
  background-image: -webkit-linear-gradient(top, #bfeae0 0%, #e1ede 100%);
  background-image: -moz-linear-gradient(top, #bfeae0 0%, #e1ede 100%);
  background-image: linear-gradient(to bottom, #bfeae0 0%, #bfeae0 100%);
  background-repeat: repeat-x;
  border-color: #bfeae0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}
 .info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 59px;
    width: 100%;
}
.info-box small {
    font-size: 14px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 2px;
    margin: 5px -10px;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff none repeat scroll 0 0;
}
.info-box-icon {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 45px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 90px;
}
.info-box-icon > img {
    max-width: 100%;
}
.info-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}
.info-box-number {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-more {
    display: block;
}
.progress-description {
    margin: 0;
}
.timeline {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
}
.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
    display: none !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #F39C12 !important;
}
/*.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #FFF !important;
}*/
/*.bg-grey {
    background-color: #ddd;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #7baf42 !important;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #FFF !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #DD4B39 !important;
}*/
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #0892cd !important;
}
.bg.color {
    background-color:#bfeae0 
}



.bg-orange {
    background-color:#efa91f
}
.bg-red {
    background-color:#f04b51
}
.pull-right {
    float: right;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent none repeat scroll 0% 0%;
    color: #97A0B3;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.box-header.with-border {
    border-bottom: 1px solid #F4F4F4;
}
.box-header1 {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.header-nav a.btn:hover
{
    background: #bfeae0;
    color: #2C5034 !important;
}

.profile h5 {
    font-size: 16px;
}
.tab-control .tabs > li.active a {
    border-bottom-color: #ffffff;
    background-color: #ffffff;
    border-top: 2px #e51400 solid;
}
.tab-control .tabs > li > a {
    border: 1px #eeeeee solid;
    display: block;
    float: left;
    padding: 5px 10px;
    z-index: 10;
    top: 0;
    left: 0;
    color: inherit;
    background-color: #eeeeee;
}
a {
    text-decoration: none;
}
* {
    border-collapse: collapse;
}
.img-avatar {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:5px;
}
.profile .profile-avatar {
    text-align: center;
    position: relative;
}

    .profile .profile-avatar img {
        border-radius: 50%;
    }

#sidebar-left
{
    background: #fefefe;
    padding: 10px!important;
}

.hidden-sm
{
    display:inline !important;
}
.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a
{
    color: #2C5034;
    font-size:13px;
}

.nav-tabs.nav-stacked > li
{
    /*margin-bottom:2px;*/
}


.nav-tabs.nav-stacked > li > a
{
    color: #2C5034;
    font-size:13px;
    margin-bottom:2px;
}

.nav-tabs.nav-stacked > li > ul
{
    background: #e9e9e9;
    color: #2C5034;
}

.nav-tabs.nav-stacked > li > ul > li > a
{
    font-size:12px;
    color:#2C5034;
    background: #e9e9e9;
}

.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > ul > li > a:hover
{
    background: #eaf4ef;
    color: #315d46 !important;
}

.hero-bar
{
    margin: 0;
    max-height: 70px;
    border: 0;
    background: rgb(255, 255, 255);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
    margin-left: 0px;
}

.navbar-default .navbar-brand {
    color: #5FCF80;
}
.ticker-bar {
    margin: 0;
    min-height: 3px;
    border: 0;
    background: #5FCF80;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

a#main-menu-toggle
{
    color: white;
    position: relative;
    z-index: 1000;
    padding: 10px 12px;
    font-size: 16px;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

a#main-menu-toggle:hover
{
    background: none repeat scroll 0% 0% #bfeae0;
    color: rgb(44, 80, 52) !important;
}



.smallstat .title {
    top: 12px;
    color: #333;
    display: block;
    font-size: 14px;
    margin-top: 4px;
}

.box .box-header h2 i {
    background: #528a63;
    color: #fff;
    padding: 10px 0;
    width: 36px;
    display: inline-block;
    text-align: center;
    margin: -10px 20px -10px -20px;
}

.box .box-header {
    background: #5FCF80;
    color: #fff;
    padding: 0px;
    overflow: hidden;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

    .box .box-header .box-icon {
       
        background: none repeat scroll 0% 0% #528a63;
      
    }

.container #content
{
    padding: 10px;
    margin: 0;
    height: 100%;
    min-height:835px !important;
}

footer {
    background: none repeat scroll 0% 0% #bfeae0;
    color: #000000 ;
    padding: 14px 20px 20px !important;
    margin: 0px !important;
    font-size: 12px;
}

.box .box-header h2
{
    color:  #fff;
}

.breadcrumb {
    padding: 6px 15px;
    margin-bottom: 10px;
    margin-top: -20px;
    font-size:11px;
    list-style: none outside none;
    background-color: #FFF;
    border-radius: 4px;
}

.form-control
{
    border-radius: 2px;
}

.box .box-header .box-icon i {
border-left: 1px solid #ffffff;
}

.add-on, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="file"], .uneditable-input
{
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 2px;
    margin-top: -3px;
}

.small-font
{
    font-size:11px
}

.medium-font
{
    font-size:12px
}
.xlarge-font
{
    font-size:4em;
    font-weight:300;
}

.welcome-box
{
    width: 100%;
    padding: 20px;
    margin: 100px 0;
    height:422px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.login-bg
{
    
    background-attachment:fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover;

}

.staff-login-bg
{
    background-image:url('../img/bg-ii.jpg'); 
    background-attachment:fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
}

.dot-pattern
{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.8)
}

.header-nav .btn-logout
{
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
    background: #b94a48;
    /*color:#2C5034;*/
    border: 0px none;
    border-radius: 3px;
    box-shadow: none;
    padding:2px 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.input-group-btn .btn-default
{
    height: 30px;
}

.error-led
{
    margin-left:-25px;
    margin-top:7px;
}

.form-horizontal .control-label-mini
{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group-mini
{
    margin-bottom:2px;
}

.underline
{
    text-decoration:underline;
}
.user-label
{
    display:table-cell;
    vertical-align:middle;
    padding-top: 14px;
}
.top-space-i{margin-top:10px;}
.top-space-ii{margin-top:20px;}
.top-space-iii{margin-top:30px;}
.top-space-iv{margin-top:40px;}
.top-space-v{margin-top:50px;}
.top-space-vi{margin-top:60px;}

.ajax__combobox_inputcontainer{
    background-color: rgb(255, 255, 255);
    background-image: none;
    display: block;
    width: 100%;
}

.ajax__combobox_textboxcontainer{
    width: 100%;
}

.ajax__combobox_textboxcontainer input {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
}

.ajax__combobox_buttoncontainer button {
    border: 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    text-shadow: none;
    background: #d6d9e0;
    margin-left: -2px;
    height: 30px;
    border-color: #ccc;
    padding-left:10px;
    padding-right:10px;
}

.ui-widget-header {
border: 1px solid #2c5034;
background: #2c5034 ;
color: #ffffff;
font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar-close {
    background:url('../../images/green-cancel.png') no-repeat ;
    background-position:center;
    border:none;
}

.form-calendar-control {
    display: inline;
    width: 85%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
  
.ui-datepicker-trigger {
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
    background: #d6d9e0;
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    border-color: #ccc;
    padding-left:0;
    padding-right:0;
    width:15%;

}

table tbody tr td table tbody tr td span {
    border:none;
    background:rgb(204, 204, 204);
    color:rgb(0, 0, 0);
    font-size:10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:5px;
}

table tbody tr td table tbody tr td a {
    border:none;
    background:#629725;
    color:rgb(255, 255, 255);
    font-size:10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:5px;
    text-decoration:none
}

table tbody tr td table tbody tr td a:hover {
    background:rgb(204, 204, 204);
    color:rgb(0, 0, 0);
    text-decoration:none
}

.header-nav a.btn {
    color: rgb(255, 255, 255) !important;
    text-shadow: none !important;
    padding: 10px 15px 11px !important;
}

.nav-tabs.nav-stacked > li > a
{
    padding: 10px 15px;
    color: #4d8267;
    /*border: 0;*/
    border-bottom:1px solid #e9e9e9;
    background: #fafafa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
    display: block;
   /* background: rgb(94, 175, 153);
    background: -moz-linear-gradient(top, rgba(22,97,39,1) 0%, rgba(44,80,52,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,97,39,1)), color-stop(100%, rgba(44,80,52,1)));
    background: -webkit-linear-gradient(top, rgb(81, 130, 117) 0%, rgb(68, 160, 137) 100%);
    background: -o-linear-gradient(top, rgba(22,97,39,1) 0%, rgba(44,80,52,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,97,39,1) 0%, rgba(44,80,52,1) 100%);
    background: linear-gradient(to bottom, #20485a 0%, rgba(44,80,52,1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#166127', endColorstr='#2c5034', GradientType=0 );
}


.sidebar-nav > ul {
    margin: 0px -25px;
    border: 0px none;
    font-size: 14px;
    white-space: nowrap;
    padding: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #bfeae0;
}

.modal-header {
    min-height: 16.4286px;
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #bfeae0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.error404 {
    background-color: #AE0000;
    color: #FFF;
    text-align: center;
    font-size: 200px;
    font-weight: 700;
    height: 300px;
}

.wrapper-1 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.details404 {
    background-color: #ECF0F1;
    padding: 35px;
    height: 300px;
    position: relative;
}

.details404 h3{
    font-weight:bold;
    font-size:20px;
    line-height:30px;
}

.alert-bold
{
    font-size: 18px;
    font-weight:bold;
}

.check-box-list tbody tr td label
{
    padding-left:10px;
}


@media only screen and (max-width:767px) {
    .header-nav .btn-logout {
        margin-top: 0px;
    }
}